/* global styles */
body{
    background-color: #E6F2FA !important;
    padding: 25px;
}
body h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #004C99;
    line-height: 1;
}
body h2{
    color: #004C99;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
body p, a{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #004C99;
}

/* navbar styles */
.navbar{
    position: sticky !important;
    top: 15px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 5px 10px !important;
    z-index: 1000;
}
.navbar.sticking{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.navbar-item{
    color: #004C99;
    text-decoration: none !important;
    padding: 5px 10px;
}
.navbar-item.active {
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
}

/* banner styles */
.banner{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px !important;
}
.banner p{
    margin-top: 20px;
    margin-bottom: 25px;
}

/* skills style */
.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #004C99;
    margin-bottom: 25px;
}
.skills p{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

/* technologies flip cards */
.technologies{
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
}
.tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12.5px;
    margin-top: 25px;
}
.flip-card {
    background-color: transparent;
    width: 75px;
    height: 75px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flip-card-front img {
    max-width: 75%;
    height: auto;
}

/* page boxes style */
.boxes{
    position: relative;
    padding: 25px;
    margin: 25px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    background-color: white;
    height: 20rem;
}
.boxes h1{
    font-style: italic;
}
.boxes a{
    text-decoration: none;
    padding: 10px;
    font-size: 2rem;
    color: #004C99;
}

/* footer style */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid #004C99;
    padding: 25px;
}
.version{
    padding: 12.5px;
    line-height: .5;
    color: #004C99;
}
#version p{
    color: #004C99;
}
.socials{
    padding: 12.5px;
    line-height: .5;
    color: #004C99;
}
#socials p{
    color: #004C99;
}
.socials a{
    margin: 10px;
    text-decoration: none;
    color: #004C99;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

@media only screen and (min-width: 992px){

/* global styles */
body{
    padding: 50px;
}
body h1{
    font-size: 7rem;
    line-height: 1;
}
body h2{
    font-size: 3.5rem;
}
body p, a{
    font-size: 1.125rem;
}

/* navbar styles */
.navbar{
    padding: 10px 20px !important;
    z-index: 1000;
    justify-content: center !important;
    gap: 25px;
}
.navbar.sticking{
    border-radius: 40px;
}
.navbar-item{
    padding: 10px 20px;
}
.navbar-item.active {
    border-radius: 40px;
}

/* banner styles */
.banner{
    padding: 50px;
    margin-top: 50px !important;
}
.banner p{
    margin-top: 40px;
    margin-bottom: 50px;
}

/* skills style */
.skills{
    margin-bottom: 50px;
    justify-content: center;
    gap: 25px;
}
.skills p{
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 1.125rem;
}

/* technologies flip cards */
.technologies{
    padding: 50px;
    margin-bottom: 50px;
}
.tech-grid {
    gap: 25px;
    margin-top: 50px;
}
.flip-card {
    width: 100px;
    height: 100px;
}
.flip-card-front{
    border-radius: 40px;
}

/* page boxes style */
.boxes{
    padding: 50px;
    margin: 50px 0px;
    border-radius: 40px;
    height: 40rem;
}
.boxes a{
    padding: 20px;
    font-size: 4rem;
}

/* footer style */
footer{
    padding: 50px;
}
.version{
    padding: 25px;
    line-height: 1;
}
.socials{
    padding: 25px;
    line-height: 1;
}
.socials a{
    margin: 20px;
    border-radius: 40px;
    padding: 10px 20px;
}
}