/* header */
#projects-header{
    margin-top: 25px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 10px;
}
#projects-header-p{
    text-align: center;
}

/* boxes */
.boxes-container{
    margin-top: 50px !important;
}
body h1{
    font-size: 2.5rem;
}

/* mhm page */
#projects-mhm-header{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding: 25px;
}

#flipbook, #flipbook2{
    margin-top: 10px;
}

#flipbook, #flipbook2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flipbook-cap{
    margin-top: 10px;
}

#freemason{
    margin-top: 25px;
}